* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Times New Roman", Times, sans-serif;
  background-color: whitesmoke;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}

#search-input {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}

#results-list {
  list-style: none;
  padding: 0;
}

#results-list li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid gray;
}

#no-results-message {
  text-align: center;
  display: none;
}
